<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connekt</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Connekt</h1>
    <div class="postsarea">
        <ul class="eachPost">
            <% posts.forEach(post => { %>
                <li>
                    <small id="postAuthor"><%= post.author %></small>
                    <small id="postTime">(<%= post.date %>)</small>
                    <h2 id="postTitle"> 
                        <%= post.title %>
                    </h2>
                    <p id="postContent">
                        <%= post.content %>
                    </p>
                </li>
           <% }); %>
        </ul>
    </div>
</body>
</html>