/* Mobile */
@media (max-width: 700px) {

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #363945;
}

h1 {
    background-color: inherit;
    text-align: center;
    color: white;
    margin: 0px 35px 40px 35px;
    padding: 35px;
}

.formarea {
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 65%;
}

#ftitle {
    max-width: 500px;
    height: 7%;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 6px;
    font-size: 15px;
    transition: width 0.3s ease;
}

#ftext {
    resize: none;
    width: 97%;
    height: 180px;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 5px;
    text-align: justify;
    font-size: 20px;
}

#fauthor {
    height: 7%;
    box-sizing: border-box;
    padding: 6px;
    font-size: 15px;
}

#newPostButton {
    width: 90px;
    height: 30px;
    box-sizing: border-box;
    margin-top: 60px;
    padding: 5px;
    cursor: pointer;
    background-color: #2c97b5;
    color: white;
    box-shadow: inset 1px -1px 5px 0px #99dae3c9;
}

#newPostButton:hover {
    color: #353535;
}

}

/* Tablet to Desktop */
@media (min-width: 701px) {
    
    body {
        background-color: #373737;
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

    }

    h1 {
        text-align: center;
        color: white;
    }

    .formarea {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 65%;
        background-color: #363945;
    }

    #ftitle, #fauthor {
        box-sizing: border-box;
    }

    #ftitle {
        max-width: 85%;
        height: 7%;
        font-size: 20px;
        margin: 0px 0px 50px 0px;
    }

    #ftext {
        width: 85%;
        height: 38%;
        font-size: 23px;
    }

    #fauthor {
        height: 7%;
        font-size: 20px;
        margin: 40px 0px 50px 0px;
    }

    #newPostButton {
        width: 130px;
        height: 30px;
        cursor: pointer;
        background-color: #2c97b5;
        color: white;
        box-shadow: inset 1px -1px 5px 0px #99dae3c9;
    }

    #newPostButton:hover {
        color: #353535;
    }


}